.body1{
    background-image: url(Images/cielo.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering:optimizeQuality;
    display:grid;
}

.div1{
    text-align: center;
    margin-top: 300px;
    border-style: solid;
    background-color:darkblue;
    margin-left: 1000px;
    margin-right: 1000px;
    border-radius: 20cap;
    color: white;
}

.div1 button{
    border-style: solid;
    border-color: white;
    background-color: blue;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.body2{
    background-image: url(Images/Презентация2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering:optimizeQuality;
    display:grid;
    
}

.body2 h1{
    text-align: center;
    color: white;
    font-size: 70px;


}

.div2{
    margin-left: 400px;
}



.div2 img{
   width: 300px;
            height: 400px;
            object-fit: cover;
            border-radius: 8px;
            
            transition: transform 0.5s ease;
            box-shadow: 0 8px 8px rgba(0,0,0,0.2);
}

.div2 img.ampliada{
    transform: scale(1.5);
           
            z-index: 10;
            position: relative;
}

.tierna{
    margin-left: 70px;
    display: none;
}

p{
    color: white;
    font-size: 48px;
    text-align: center;
    
}

.bella{
   margin-left: 70px;
    display: none; 
}

.mostrar{
    font-size: 40px ;
}

.oculto{
    font-size: 0px;
}


@media(max-width:600px){
.div1 button{
    border-style: solid;
    border-color: white;
    background-color: blue;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;}

    .div1{
    text-align: center;
    margin-top: 300px;
    border-style: solid;
    background-color:darkblue;
    margin-left:20px;
    margin-right: 20px;
    border-radius: 20cap;
    color: white;
}

body{
    text-align: center;
    display: block;
}
img{
    width: 20px;
}



.div1 button{
    border-style: solid;
    border-color: white;
    background-color: blue;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.body2{
    background-image: url(Images/Презентация2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering:optimizeQuality;
    display:grid;
    
}

.body2 h1{
    text-align: center;
    color: white;
    font-size: 70px;


}

.div2{
    margin-left: 50px;
}



.div2 img{
   width: 300px;
            height: 250px;
            object-fit: cover;
            border-radius: 8px;
            margin-left: auto;
            margin-right: auto;
            transition: transform 0.5s ease;
            box-shadow: 0 8px 8px rgba(0,0,0,0.2);
}



}





